<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routes</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/btn.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>

<body>

<!-- Nav -->
<header>
    <div class="logo">LOGO</div>
    <nav>
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="/routes">ROUTES</a></li>
            <li><a href="#">GROUPS</a></li>
            <li><a href="#">ABOUT</a></li>
            <li class="sub-menu"><a href="#"><i class="fa fa-user-circle-o user-logo" aria-hidden="true"></i></a>
                <ul>
                    <li><a href="/climbers/myprofile">My profile</a></li>
                    <li><a href="/logout">Log out</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
</header>

<!-- Content -->
<div class="main-container">
    <div class="left-container">
        <div class="edit-container">
            <% let picture;
            if (user.avatar === null || user.avatar === undefined) {
                picture = 'avatar-default.webp';
            } else {
                picture = user.avatar;
            }%>
            <img src="/uploads/<%= picture %>" alt="avatar of the user" class="avatar">
            <form action="/climbers/editSelf" method="post" class="form" enctype="multipart/form-data">
                <label for="avatar">Choose a profile picture:</label>
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                <input type="submit" class="btn" value="Upload avatar"/>
            </form>
            <a href="" class="action red">Delete account</a>
        </div>
    </div>
    <div class="right-container">
        <form action="/climbers/update" method="post" autocomplete="off" class="form">
            <div class="input-line">
              <label for="Name">Name: </label>
              <input type="text" id="Name" name="Name" placeholder="Name">
            </div>
            <div class="input-line">
                <label for="LastName">Last name: </label>
               <input type="text" id="LastName" name="LastName" placeholder="Last name">
            </div>
            <div class="input-line">
                <label for="email">Email: </label>
                 <input type="text" id="email" name="email" placeholder="email">
            </div>
                <input type="submit" class="btn" value="Update profile">
        </form>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/js/navbar.js"></script>

</body>

</html>