<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>

<body>
<!-- Nav -->
<header>
    <div class="logo">LOGO</div>
    <nav>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="/routes">ROUTES</a></li>
            <li><a href="#">GROUPS</a></li>
            <li><a href="#">ABOUT</a></li>
            <li class="sub-menu"><a href="#"><i class="fa fa-user-circle-o user-logo" aria-hidden="true"></i></a>
                <ul>
                    <li><a href="/climbers/myprofile">My profile</a></li>
                    <li><a href="/logout">Log out</a></li>
                    <li><a href="#">Item 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>
</header>

<!-- top div -->
<div class="topContainer">
    <img src="/img/home-bg-4.png" alt="">
    <div class="topContainer-content">
        <h1>A Rock at a Time</h1>
        <h2>Conquer the summit</h2>
        <button class="btn">Explore</button>
    </div>
    <div class="align-vertical">
        <div class="project-display-top">
            <section class="project-box">
                <div class="project-img"><img src="/uploads/rote-wand-01.jpeg" alt=""></div>
                <div class="project-content">
                    <div class="project-location">Tirol</div>
                    <div class="project-date">23 June 2022 - 12:00</div>
                </div>
            </section>
            <section class="project-box">
                <div class="project-img"><img src="/uploads/rote-wand-01.jpeg" alt=""></div>
                <div class="project-content">
                    <div class="project-location"> <%= users[2].Name %></div>
                    <div class="project-date">24 June 2022 - 12:00</div>
                </div>
            </section>
            <section class="project-box">
                <div class="project-img"><img src="/uploads/rote-wand-01.jpeg" alt=""></div>
                <div class="project-content">
                    <div class="project-location">Vienna</div>
                    <div class="project-date">26 June 2022 - 12:00</div>
                </div>
            </section>
            <section class="project-box">
                <div class="project-img"><img src="/uploads/rote-wand-01.jpeg" alt=""></div>
                <div class="project-content">
                    <div class="project-location">Linz</div>
                    <div class="project-date">28 June 2022 - 12:00</div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Routes display -->
<div class="horizontal-center">
    <section class="route-box">
        <div class="route-img"><img src="/uploads/silvapark-01.webp" alt=""></div>
        <div class="route-content">
            <h3 class="route-title">Route 1</h3>
            <p class="route-description">Fun line of the central part of Rote Wand. Climb 5 pitches of technical
                slab followed by one easier, a little bit grassy pitch. The last 2 pitches are steeper more
                powerfull climbing.</p>
        </div>
    </section>

    <section class="route-box">
        <div class="route-content">
            <h3 class="route-title">Route 2</h3>
            <p class="route-description">Fun line of the central part of Rote Wand. Climb 5 pitches of technical
                slab followed by one easier, a little bit grassy pitch. The last 2 pitches are steeper more
                powerfull climbing.</p>
        </div>
        <div class="route-img"><img src="../public/uploads/silvapark-01.webp" alt=""></div>
    </section>

    <section class="route-box">
        <div class="route-img"><img src="/uploads/silvapark-01.webp" alt=""></div>
        <div class="route-content">
            <h3 class="route-title"><%= routes[0].Name %>></h3>
            <p class="route-description">Fun line of the central part of Rote Wand. Climb 5 pitches of technical
                slab followed by one easier, a little bit grassy pitch. The last 2 pitches are steeper more
                powerfull climbing.</p>
        </div>
    </section>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/js/navbar.js"></script>
</body>

</html>