<!DOCTYPE html>
<html>
<head>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/panelSign.css" rel="stylesheet" type="text/css">
    <link href="/css/btn.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container center">
    <!-- Sign Up -->
    <div class="forms">
        <div class="container__form container--signup">
            <form action="/addUser" method="post" class="form" id="form1" autocomplete="off">
                <h2 class="form__title">Register</h2>
                <input type="text" placeholder="First name" class="input" name="Name" />
                <input type="text" placeholder="Last name" class="input" name="LastName" />
                <input type="email" placeholder="Email" class="input" name="email" />
                <input type="password" placeholder="Password" autocomplete="on" class="input" name="Password" />

                <input class="btn" type="submit" value="Register"/>
            </form>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin">
            <form action="/signIn" method="post" class="form" id="form2" autocomplete="off">
                <h2 class="form__title">Log In</h2>
                <input type="email" placeholder="Email" class="input" name="email" />
                <input type="password" placeholder="Password" autocomplete="on" class="input" name="password" />

                <input class="btn" type="submit" value="Log In"/>
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Log In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer rocks -->
<footer class="svgsRocks">

</footer>

<!--Content ends-->


<script src="/js/panel.js"></script>
</body>
</html>
