.btnBack {
    background-color: #E4D9BD;
    color: black;
    border-radius: 2px;
    justify-content: center;
    cursor: pointer;
    height: 60px;
    width: 290px;
    outline: inherit;
    border: none;
    font-size: 24px;
}

/*
BUTTON EDIT OR CLASSIC
 */

.btn {
    background-color: var(--blue);
    background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    border: none;
}

.form > .btn {
    margin-top: 1.5rem;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}
