:root {
    /* general */
    --bg-gradient: linear-gradient(0deg, rgba(242, 188, 247, 58%) 12%, #ffffff 25%);

    /* route view - search */
    --searchbox-padding-v: 25px;
    --searchbox-padding-h: 40px;
    --searchbox-margin-v: 2vh;
    --searchbox-margin-h: 1vw;
    --searchbox-border-radius: 20px;
    --searchbox-bg: #f2bcf7;
    --searchbox-gap: 48px;

    --search-font: black;
    --search-font-size: 22px;
    --search-bg: white;
    --search-bg-sec: #97619d;
    --search-width: 160px;
    --search-after-width: 25px;
    --search-radius: 5px;
    --search-height: 30px;
    --search-margin-v: 1vh;
    --search-margin-h: 1vw;
    --search-padding-v: 5px;
    --search-padding-h: 10px;
    --search-border-color: red;

    /* route view - content */
    --contentcontainer-pading-h: 50px;
    --left-container-bg: #d3d3d3;
    --left-container-border-radius: 20px;
    --right-container-bg: #d3d3d3;
    --right-container-border-radius: 20px;
    --route-border-color: rgba(93, 93, 93, 0.5);
    --route-padding-v: 1vh;
    --route-padding-h: 2vw;

    /* navbar */
    --navbar-height: 50px;
    --navbar-color-bg: chocolate;
    --navabr-color-sec-bg: rgb(169, 83, 22);
    --navbar-color-trd-bg: rgb(186, 129, 88);
    --navbar-color-font: #fff;
    --navbar-color-font-active: #000;
    --navbar-color-hover-nav: bisque;
    --navbar-dropdown-width: 200px;
}