/*  TOP ELEMENT */
.topContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-bottom: 7rem;
    padding-top: calc(7rem + 72px);
}

.topContainer img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: auto;
    width: 55%;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

.topContainer-content {
    z-index: 1;
    position: relative;
    min-height: 15rem;
    color: whitesmoke;
    text-shadow: 1px 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.topContainer-content h1 {
    font-size: 75px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.topContainer-content h2 {
    font-size: 55px;
}

.btn {
    background-image: linear-gradient(90deg, rgb(160, 100, 28) 0%, rgb(227, 176, 119) 74%);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    border: none;
    margin-top: 1rem;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

@media (max-width: 1580px) {
    .topContainer-content {
        min-height: 10rem;
    }

    .topContainer-content h1 {
        font-size: 55px;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .topContainer-content h2 {
        font-size: 40px;
    }
}

@media (max-width: 1370px) {
    .topContainer img {
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-width: 751px) {
    .topContainer img {
        display: none;
    }
    .topContainer{
        background-color: bisque;
    }
}

@media (max-width: 600px) {
    .topContainer-content h1 {
        font-size: 40px;
    }

    .topContainer-content h2 {
        font-size: 25px;
    }
    .topContainer {
        padding-bottom: 5rem;
        padding-top: calc(5rem + 22px);
    }
}

/*  ROUTES ELEMENT */
.horizontal-center {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 234, 221);
}

.route-box {
    padding: 4rem 4rem 2rem 4rem;
    display: flex;
    width: 50%;
    position: relative;
    height: 15rem;
    gap: 5rem;
}

.route-box:nth-child(even) {
    border-top: 1px solid rgba(183, 129, 53, 0.3);
    border-bottom: 1px solid rgba(183, 129, 53, 0.3);
}

.route-content {
    word-wrap: break-word;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.route-content h3 {
    font-size: 35px;
    margin: 0;
    padding-bottom: 1rem;
}

.route-content p {
    font-size: 18px;
}

.route-img {
    width: 35%;
    position: relative;
}

.route-img img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
}

@media (max-width: 1500px) {
    .route-box {
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
        width: 80%;
        position: relative;
        margin-top: 5rem;
        height: 10rem;
        gap: 1rem;
        align-items: center;
    }
    section.route-box {
        height: 350px;
    }
    .route-box:nth-child(even) {
        flex-direction: column-reverse;
    }
    .route-img {
        height: 400px;
    }
    .route-content {
        text-align: center;
    }
    .route-img img {
        position: absolute;
        min-width: 250px;
        width: 20vw;
        height: auto;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 50%;
    }
    .route-content h3 {
        font-size: 25px;
        margin: 0;
        padding-bottom: 1rem;
    }

    .route-content p {
        font-size: 14px;
    }
}

/*    PROJECTS DISPLAY    */
.align-vertical {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 25%;
    right: 0;
    top: 0;
}

.project-display-top {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.project-box {
    position: relative;
    display: flex;
    width: 100%;
    height: 10vh;
    margin: 1vh 0;
}

.project-img {
    position: absolute;
    width: 5vw;
    height: 5vw;
}

.project-img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.project-content {
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-location {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5vh;

}