@import './constant.css';

body {
    background: var(--bg-gradient);
    margin:0;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    align-items: center;
    place-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}