body {
    margin:0;
    background: linear-gradient(30deg, rgba(255,244,234,1) 78%, rgba(199,166,125,1) 100%);
    height: 100vh;
    width: 100%;
    font-size: 16px;
    align-items: center;
    place-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;

}