:root {
    --navbar-height: 50px;
    --color-bg: chocolate;
    --color-sec-bg: rgb(169, 83, 22);
    --color-trd-bg: rgb(186, 129, 88);
    --color-font: #fff;
    --color-font-active: #000;
    --color-hover-nav: bisque;
    --dropdown-width: 200px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-color: var(--color-bg);
    width: 100%;
    box-sizing: border-box;
    z-index: 10000;
}

header .logo {
    color: var(--color-font);
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    position: relative;
}

header nav ul li.sub-menu:before {
    content: '\f0d7';
    font-family: fontAwesome;
    line-height: var(--navbar-height);
    font-size: 20px;
    color: var(--color-font);
    right: 0;
    position: absolute;
}

header nav ul li.sub-menu:hover::before {
    color: var(--color-font-active);
}

header nav ul li.active.sub-menu:before {
    content: '\f0d8';
    font-size: 20px;
    color: var(--color-font);
}

header nav ul li ul {
    position: absolute;
    right: 0;
    background-color: var(--color-sec-bg);
    display: none;
    white-space: nowrap;
}

header nav ul li.active ul {
    display: block;
}

header nav ul li ul li {
    display: block;
    width: var(--dropdown-width);
}

header nav ul li a {
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    padding: 0 20px;
    color: var(--color-font);
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active
{
    color: var(--color-font-active);
    background-color: var(--color-hover-nav);
}

.menu-toggle {
    color: var(--color-font);
    float: right;
    line-height: var(--navbar-height);
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.user-logo {
    font-size: 40px;
    line-height: var(--navbar-height);
}

@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }
}

@media (max-width: 751px) {
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(var(--navbar-height) * 5);
        background-color: var(--color-sec-bg);
        top: var(--navbar-height);
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li.active ul {
        position: relative;
        background-color: var(--color-trd-bg);
    }
    header nav ul li ul li {
        width: 100%;
    }
    header nav ul li.sub-menu:before {
        content: '\f0d7';
        right: 20vw;
    }
    header nav ul li.active.sub-menu:before {
        content: '\f0d8';
        right: 20vw;
    }
}