@import './constant.css';

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('/img/bg-bw.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    gap: 5%;
    align-items: center;
}

.left-container {
    border: 1px solid black;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 5vh 3vw;
    border-radius: 10px;
    height: 400px;
    margin-top: 200px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 0 0;
}

.edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-container > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    outline: 5px solid black;
}

.action {
    font-size: 18px;
    text-decoration: underline black;
    margin: 20px 0 5px 0;
    cursor: pointer;
    color: black;
} .red { text-decoration: underline red; color: red }

.edit-container > form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
} .edit-container > form > label { font-size: 18px; font-weight: bold; margin-top: 20px }

.right-container {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5vh 3vw;
    height: 400px;
    width: 700px;
    margin-left: -100px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-container > form {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.input-line {
    width: 280px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .right-container {
        width: 500px;
    }
}

@media (max-width: 1000px) {
    body {
        overflow: scroll;
    }
    .main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .left-container {
        width: 90%;
    }
    .right-container {
        width: 90%;
        margin: 20px;
    }
}