@import './constant.css';

body {
    width: 100%;
    height: 100vh;
    background-image: url('/img/bg-bw-routes.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.searchContainer {
    position: relative;
    padding: var(--navbar-height) 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    padding: var(--searchbox-padding-v) var(--searchbox-padding-h);
    border-radius: var(--searchbox-border-radius);
    gap: var(--searchbox-gap);
    margin-top: calc(var(--searchbox-margin-v) * 3);
    background-color: var(--searchbox-bg);
    margin-bottom: var(--searchbox-margin-v);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.select-box {
    position: relative;
}

.select-box::after {
    color: var(--search-font);
    font-family: fontAwesome;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: var(--search-after-width);
    transform: translateX(100%);
    content: '\f0d7';
    width: var(--search-after-width);
    border-radius: 0 var(--search-radius) var(--search-radius) 0;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--search-bg-sec);
}

.select-field {
    /* reset */
    outline: none;
    border: none;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* styling */
    width: calc(var(--search-width) + var(--search-after-width));
    padding: var(--search-padding-v) 0;
    background-color: var(--search-bg);
    border-radius: var(--search-radius);
}


/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

.routes-box {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px var(--route-border-color) solid;
    padding: var(--route-padding-v) var(--route-padding-h);
} .routes-box:hover {background-color: var(--searchbox-bg)}

  .routes-box > p {
      font-size: 14px;
  }

.route-info-container-mobile { /* for mobile */
    display: none;
}

.contentContainer {
    display: flex;
    gap: 70px;
    margin-top: 12%;
    padding: var(--contentcontainer-pading-h);

}

.left-container {
    overflow-y: auto;
    width: 32%;
    height: 63vh;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: var(--left-container-border-radius);
    border: 1px var(--searchbox-bg) solid;
}

.left-container p:after, .left-container h2 {
    mix-blend-mode: difference;
}

.right-container {
    width: 65%;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: var(--left-container-border-radius);
    border: 1px var(--searchbox-bg) solid;
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.route-info-img {
    position: relative;
    width: 450px;
    height: 300px;
    overflow: hidden;
}


.route-info-container {
    display: none;
}

.route-info-img img {
    height: auto;
    width: 100%;
}

.route-info-left {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: calc(var(--route-padding-h) / 2);
}

.route-info-label {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.vertical-bottom {
    display: flex;
    align-items: end;
}

.route-info-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;
    height: 280px;
    width: auto;
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
}
.titre {display: flex; gap: 20px; align-items: baseline}

.icon {
    display: flex;
    gap: 25px;
    align-items: center;
} .icon > i { font-size: 20px }

@media (max-width: 1000px) {
    .search-bar {
        flex-direction: column;
    }
    .select-box {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .select-box::after {
        height: 60%;
        top: 43%;
    }
    .right-container {
        display: none
    }
    .left-container {
        width: 100%;
    }
    .route-info-container-mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        align-content: center;
    }
    .contentContainer {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
}

.group-form-popup {
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(128, 128, 128, 0.56);
}

.btn2 {
    width: 70px;
    background-color: white;
    color: red;
    text-decoration: underline red;
}

.buttons-container {
    padding-top: 40px;
    display: flex;
    gap: 35px;
}