@import './constant.css';

.searchContainer {
    position: relative;
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    padding: var(--searchbox-padding-v) var(--searchbox-padding-h);
    border-radius: var(--searchbox-border-radius);
    gap: var(--searchbox-gap);
    margin-top: var(--searchbox-margin-v);
    background-color: var(--searchbox-bg);
    margin-bottom: var(--searchbox-margin-v);
}



.select-box {
    position: relative;
}

.select-box::after {
    color: var(--search-font);
    font-family: fontAwesome;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: var(--search-after-width);
    transform: translateX(100%);
    content: '\f0d7';
    width: var(--search-after-width);
    border-radius: 0 var(--search-radius) var(--search-radius) 0;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--search-bg-sec);
}

.select-field {
    /* reset */
    outline: none;
    border: none;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* styling */
    width: calc(var(--search-width) + var(--search-after-width));
    padding: var(--search-padding-v) 0;
    background-color: var(--search-bg);
    border-radius: var(--search-radius);
}


/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

.routes-box {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px var(--route-border-color) solid;
    padding: var(--route-padding-v) var(--route-padding-h);
} .routes-box:hover {background-color: var(--searchbox-bg)}

.route-info-container-mobile { /* for mobile */
    display: none;
}

.contentContainer {
    display: flex;
    gap: 70px;
    padding: var(--contentcontainer-pading-h);
}

.left-container {
    overflow-y: auto;
    width: 32%;
    background-color: var(--left-container-bg);
    border-radius: var(--left-container-border-radius);
    border: 1px var(--searchbox-bg) solid;
}

.right-container {
    width: 65%;
    background-color: var(--right-container-bg);
    border-radius: var(--left-container-border-radius);
    border: 1px var(--searchbox-bg) solid;
}

.route-info-img {
    position: relative;
    width: 350px;
    height: 200px;
    overflow: hidden;
}


.route-info-container {
    display: none;
}

.route-info-img img {
    height: auto;
    width: 100%;
}

.route-info-left {
    display: flex;
    justify-content: space-between;
    padding: var(--route-padding-h);
}

.route-info-label {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.route-info-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 130px 200px 0 0;
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px 35px;
}

.icon {
    display: flex;
    gap: 25px;
    align-items: center;
} .icon > i { font-size: 20px }

@media (max-width: 1000px) {
    .search-bar {
        flex-direction: column;
    }
    .select-box {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .select-box::after {
        height: 60%;
        top: 43%;
    }
    .right-container {
        display: none
    }
    .left-container {
        width: 90%;
    }
    .contentContainer {
        display: flex;
        justify-content: center;
    }
}

.group-form-popup {
    display: none;
    flex-direction: column;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}