:root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --font: white;
    --bg: #2c3e50;
    --bg-sec: darkgray;
}

.contentContainer {
    position: relative;
    margin-top: 50px;
}

.search-bar {
    display: flex;
    gap: 25px;
}

.select-box {
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-field {
    /* reset */
    outline: none;
    border: none;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* styling */
    min-width: 100px;
    width: 10vw;
    padding: 5px;
    background-color: var(--bg);

    background-image:
            linear-gradient(45deg, transparent 50%, blue 50%),
            linear-gradient(135deg, blue 50%, transparent 50%),
            linear-gradient(to right, skyblue, skyblue);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            100% 0;
    background-size:
            5px 5px,
            5px 5px,
            2.5em 2.5em;
    background-repeat: no-repeat;
}

.select-field::before {
    padding: 5px;
    content: '';
    background-color: var(--bg-sec);
}

.select-field option {

}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}