:root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --font: white;
    --bg: #2c3e50;
    --bg-sec: darkgray;
}

.searchContainer {
    position: relative;
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 650px;
    height: 100px;
    background-color: #0c5460;
}

.select-box {

}

.select-field {
    /* reset */
    outline: none;
    border: none;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* styling */
    min-width: 100px;
    width: 10vw;
    padding: 5px;
    background-color: var(--bg);
}

.select-field option {

}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}