$theme-colors:(
        "primary":#F7B318,
        "danger": #ff4136,
);
$primary-color: #F7B318;








@import "../node_modules/bootstrap/scss/bootstrap.scss";
/* sass src/main.scss public/css/main.css */
nav {
  background-color: $primary-color;
  padding: 0 1rem;
}

.log-sign {
  border-radius: 0.75rem !important;
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25), 0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  background-image: url('/img/pannel-bg.png');
  background-position: center;
  padding: 1rem 1.5rem;
}
