$theme-colors:(
        "primary":#F7B318,
        "danger": #ff4136,
);
$primary-color: #F7B318;








@import "../node_modules/bootstrap/scss/bootstrap.scss";
/* sass src/main.scss public/css/main.css */
nav {
  background-color: $primary-color;
  padding: 0 1rem;
}
